---
layout: default
---

{% include banner.html %}

<div class="container">
  <div class="row" style="margin-bottom: 50px;">
    <div class="col-md-12 text-center">
      <iframe src="https://calendar.google.com/calendar/embed?title=DMV%20Code%20and%20Coffees&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=1467kv8cp8vone8oatmtco60ld7cbg56%40import.calendar.google.com&amp;color=%23AB8B00&amp;src=cv6q07v5kisli78l8vjrj5ma961em1an%40import.calendar.google.com&amp;color=%23711616&amp;src=d3d0me2o02e3qdppfrvjtps1ldd7bptd%40import.calendar.google.com&amp;color=%231B887A&amp;ctz=America%2FNew_York" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      {% include events.html %}
    </div>

    <div class="col-md-6 hidden-xs">
      {% include twitter_widget.html %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      {% include sponsors.html %}
    </div>
  </div>
</div>
