<div class="flex tc" style="margin-top:30px; margin-bottom:30px;">
  <div class="flex-auto"><a class="btn btn-teal" href="http://www.meetup.com/Alexandria-Code-Coffee" role="button"><i class="fa fa-meetup"></i> Meetup</a></div>
  <div class="flex-auto"><a class="btn btn-teal" href="https://github.com/alxcodecoffee" role="button"><i class="fa fa-github-alt"></i> GitHub</a></div>
  <div class="flex-auto"><a class="btn btn-teal" href="http://www.twitter.com/alxcodecoffee" role="button"><i class="fa fa-twitter"></i> Twitter</a></div>
  <div class="flex-auto"><a class="btn btn-teal" href="https://www.instagram.com/alxcodecoffee" role="button"><i class="fa fa-instagram"></i> Instagram</a></div>
</div>
