$brand-teal: #13c0d7;
$brand-brown: #433A33;
$brand-brown-light: #E7DCD3;

.btn-teal {
  background: white;
  border: 2px solid $brand-teal;
}

.slightly-bold {
  font-weight: 500;
}

.jumbotron {
  background-color: $brand-brown-light;
  border-bottom: 1px solid $brand-teal;
  color: $brand-brown;
  p {
    font-size: 20px;
  }
}

.panel-default {
  border: 2px solid $brand-teal;
  &>.panel-heading {
    font-weight: 500;
    background-color: $brand-brown-light;
    border-bottom: 1px solid $brand-teal;
  }
}

a {
  color: $brand-brown;
  &:hover {
    color: $;
  }
  &:visited {
    color: $brand-brown;
  }
}

.navbar {
  margin-bottom: 0px;
  border-bottom: 3px solid $brand-teal;
  height: 70px;
  a {
    font-size: 1.3em;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  .titleUpper {
    font-size: 20px;
  }

  .titleLower {
    text-align: right;
    font-size: 12px;
    letter-spacing: 1px;
  }

  .navbar-nav {
    margin-top: 8px;
    font-size: 18px;
  }

}
