$colDefault     : #13c0d7;
$colHighlight   : #0297AC;
$theBrownBackground: #E7DCD3;

.jumbotron {
  background-color: $theBrownBackground;
}
.panel-default>.panel-heading {
  background-color: white;
}

a {
  color: $colDefault;
  &:hover {
    color: $colHighlight
  }
}

.navbar {
  margin-bottom: 0px;
  border-bottom: 3px solid #13c0d7;
  height: 70px;

  a {
    font-size: 1.3em;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  .titleUpper {
    font-size: 20px;
  }

  .titleLower {
    text-align: right;
    font-size: 12px;
    letter-spacing: 1px;
  }

}
