$linkTeal     : #13c0d7;
$colHighlight   : #0297AC;
$theTeal: #13c0d7;
$theBrownBackground: #E7DCD3;
$textColor: #433A33;

.jumbotron {
  background-color: $theBrownBackground;
}
.panel-default>.panel-heading {
  background-color: white;
}

a {
  color: $linkTeal;
  &:hover {
    color: $colHighlight
  }
  &:visited {
    color: $textColor;
  }
}

.navbar {
  margin-bottom: 0px;
  border-bottom: 3px solid $theTeal;
  height: 70px;
  a {
    font-size: 1.3em;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  .titleUpper {
    font-size: 20px;
  }

  .titleLower {
    text-align: right;
    font-size: 12px;
    letter-spacing: 1px;
  }

  .navbar-nav {
    margin-top: 8px;
    font-size: 18px;
  }

}
